{% add to head %}
    <link href="{{ asset('style/navigation.css','markocupic_contao_navigation') }}" rel="stylesheet"/>
{% endadd %}
{% add to body %}
    <script src="{{ asset('js/script.js','markocupic_contao_navigation') }}"></script>
{% endadd %}
{% set list_class = [level,'contao-nav--nav-list']|join(' ') %}

{% if level == 'level_2' %}
<div class="contao-nav--dropdown-menu">
    {% endif %}
    <ul class="{{ list_class }}">
        {% for item in items %}
            {# Add the CSS class contao-nav--nav-item #}
            {% set item = item|merge({'class': "#{item.class} contao-nav--nav-item"}) %}
            {% if level == 'level_1' %}
                {# Set item.hasDropdown key #}
                {% set item = item|merge({'hasDropdown': (item.isNonClickable|default and item.subitems|default) ? true : false}) %}

                {% if item.isActive %}
                    {% if item.hasDropdown %}
                        {# Add css class contao-nav--has-dropdown #}
                        {% set item = item|merge({'class': "#{item.class} contao-nav--has-dropdown"}) %}
                        <li class="{{ item.class|trim }}">
                            {% set dropdown_toggle_class = 'contao-nav--dropdown-toggle' %}
                            <span role="button" data-toggle="contao-dropdown-navigation" title="{{ item.pageTitle ?: item.title }}" class="{{ dropdown_toggle_class }}"{% if item.accesskey|default %} accesskey="{{ item.accesskey }}"{% endif %}{% if item.tabindex|default %} tabindex="{{ item.tabindex }}"{% endif %}{{ item.target }}{{ item.rel }}{% if item.subitems|default %} aria-haspopup="true"{% endif %} itemprop="name">
                        {{ item.link }}
                        </span>
                            {{ item.subitems|raw }}
                        </li>
                    {% else %}
                        <li class="{{ item.class|trim }}">
                            <strong class="{{ item.class|trim }}"{% if item.subitems|default %} aria-haspopup="true"{% endif %} itemprop="name">{{ item.link }}</strong>
                            {{ item.subitems|raw }}
                        </li>
                    {% endif %}
                {% else %}
                    {% if item.hasDropdown %}
                        {# Add css class contao-nav--has-dropdown #}
                        {% set item = item|merge({'class': "#{item.class} contao-nav--has-dropdown"}) %}
                        <li class="{{ item.class|trim }}">
                            {% set dropdown_toggle_class = 'contao-nav--dropdown-toggle' %}
                            <span role="button" data-toggle="contao-dropdown-navigation" title="{{ item.pageTitle ?: item.title }}" class="{{ dropdown_toggle_class }}"{% if item.accesskey|default %} accesskey="{{ item.accesskey }}"{% endif %}{% if item.tabindex|default %} tabindex="{{ item.tabindex }}"{% endif %}{{ item.target }}{{ item.rel }}{% if item.subitems|default %} aria-haspopup="true"{% endif %} itemprop="name">
                        {{ item.link }}
                        </span>
                            {{ item.subitems|raw }}
                        </li>
                    {% else %}
                        <li class="{{ item.class|trim }}">
                            <a href="{{ item.href ?: './' }}" title="{{ item.pageTitle ?: "#{item.title}" }}" class="nav-link {{ item.class|trim }}"{% if item.accesskey|default %} accesskey="{{ item.accesskey }}"{% endif %}{% if item.tabindex|default %} accesskey="{{ item.tabindex }}"{% endif %}{{ item.target }}{{ item.rel }}{% if item.subitems|default %} aria-haspopup="true"{% endif %} itemprop="url">
                                <span itemprop="name">{{ item.link }}</span>
                            </a>
                            {{ item.subitems|raw }}
                        </li>
                    {% endif %}
                {% endif %}
            {% else %} {# level > 1 #}
                {% if item.subitems|default %}
                    {# Add css class contao-nav--has-dropdown #}
                    {% set item = item|merge({'class': "#{item.class} contao-nav--has-dropdown"}) %}
                {% endif %}
                {% if item.isActive %}
                    <li class="{{ item.class|trim }}">
                        <strong class="{{ item.class|trim }}"{% if item.subitems|default %} aria-haspopup="true"{% endif %} itemprop="name">{{ item.link }}</strong>
                        {{ item.subitems|raw }}
                    </li>
                {% else %}
                    <li{% if item.class|default %} class="{{ item.class|trim }}"{% endif %}>
                        <a href="{{ item.href ?: './' }}" title="{{ item.pageTitle ?: "#{item.title}" }}"{% if item.class|default %} class="{{ item.class|trim }}"{% endif %}{% if item.accesskey|default %} accesskey="{{ item.accesskey }}"{% endif %}{% if item.tabindex|default %} tabindex="{{ item.tabindex }}"{% endif %}{{ item.target }}{{ item.rel }}{% if item.subitems|default %} aria-haspopup="true"{% endif %} itemprop="url">
                            <span itemprop="name">{{ item.link }}</span>
                        </a>
                        {{ item.subitems|raw }}
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
    {% if level == 'level_2' %}
</div>
{% endif %}
